.navbar img {
  height: 72px;
  width: 125px;
}

.navbar {
  background-color: #00162c;
}

.navbar a {
  color: #cacdd1;
}

.mat-menu-panel {
  max-width: 460px;

}

.invite-item {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;

  .accept-ignore-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button {
      margin: 4px;
    }
  }

  .align {
    display: flex;
    flex-wrap: wrap;
  }
}

.make-hyper {
  color: #147297;
  padding: 0 2px;
}

.mat-button-base {
  background-color: #14a2b8;
  color: white;
}
